/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --text-decor-color: #000028;
  --page-bg-image: url('../images/cover-image-dark.png');
}

:root.theme-dark .header__decor {
  display: block;
}

:root.theme-dark .section__title {
  color: var(--accent-color);
}