/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --text-decor-color: #353430;
  --page-bg-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__decor {
  display: none;
}

:root.theme-light .section__title {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --text-decor-color: #353430;
    --page-bg-image: url("../images/cover-image-light.png");
  }

  :root:not(.theme-dark) .header__decor {
    display: none;
  }

  :root:not(.theme-dark) .section__title {
    color: var(--text-color);
  }
}
