.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.header {
  background-color: var(--bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background-color: var(--bg-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decor {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--decor-color);
  font-size: var(--font-size);
  line-height: 1.39;
}

.header__decor::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--decor-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  min-block-size: 100vb;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  justify-content: end;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--decor-color);
  line-height: 1;
  text-transform: lowercase;
  cursor: pointer;
  background: transparent;
}

.header__theme-menu-button:hover {
  border-color: var(--decor-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border-color: var(--decor-color);
  pointer-events: none;
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  max-inline-size: 100%;
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-decor-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
  background-color: var(--bg-color);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.card__title_thin {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
}

.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  padding: 10px;
  min-block-size: 100vb;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }
  
  .header__theme-menu {
    margin-top: 70px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .header__text {
    max-inline-size: 364px;
  }
  
  .main {
    gap: 80px;
    padding: 60px 20px;
  }
  
  .section__columns .section__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .section__columns .card:first-child {
    grid-column: span 2;
  }
  
  .gallery {
    gap: 20px;
  }
  
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }
  
  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__theme-menu-item {
    justify-content: center;
  }
  
  .header__text {
    max-inline-size: 491px;
  }
  
  .section:not(.section__columns) {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }
  
  .section:not(.section__columns) .section__content {
    grid-column: 2;
  }
  
  .section__columns {
    grid-template-columns: 1fr 2fr;
  }
  
  .section__columns .section__content {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }
  
  .section__columns .card:first-child {
    grid-column: span 1;
  }
  
  .gallery__grid {
    gap: 25px 20px;
  }
}
