

:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --text-decor-color: #000028;
  --page-bg-image: url('../images/cover-image-dark.png');
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
}

